body {
	background-color:black;
	color:cornsilk;
	font-family:Verdana;
	margin:10px;
	padding:10px;
}
h1 {
	font-size:1.35em;
}
h2 {
	font-size:1.2em;
	margin-top:2.5em;
}
p {
	font-size:1em;
	margin-top: 10px;
}
a:link {
  color: red;
}
a:visited {
  color: cyan;
}
a:hover {
  color: hotpink;
}
a:active {
  color: blue;
}
input {
	font-size:1.1em;
	padding:15px;
	font-family: Verdana;
}
.button {
	font-family:Verdana;
	font-size:0.9em;
	margin-top:7px;
	padding:10px;
	border-radius:7px;
	background: steelblue;
	color:blanchedalmond;
}
.button:hover {
	animation: btn_hover 0.6s;
	animation-fill-mode: forwards;
}
.button2 {
	font-family:Verdana;
	font-size:1.1em;
	margin-top:10px;
	padding:15px;
	border-radius:7px;
	background:steelblue;
	color:blanchedalmond;
}
.button2:hover {
	animation: btn_hover 0.6s;
	animation-fill-mode: forwards;
}
@keyframes btn_hover{
	0% {
		box-shadow: 0px 0px 0px 0px cornsilk;
	}
	100% {
		box-shadow: 10px 10px 30px 0px cornsilk;
	}
}
#select {
	display:none;
}
@media only screen and (max-width: 600px) {
    body {
		font-size:0.85em;
	}
}
#progress {
	width: 50%;
	padding: 10px;
	margin:10px;
	display:none;
}
.switch-toggle {
   float: left;
   background: #242729;
}
.switch-toggle input {
  position: absolute;
  opacity: 0;
}
.switch-toggle input + label {
  padding: 7px;
  float:left;
  color: #fff;
  cursor: pointer;
}
.switch-toggle input:checked + label {
  background: green;
}